@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: gray;
  /* background-image: -webkit-linear-gradient(top left, #a802e0, #f7676a); */
  background-color: #fafbfc;
  background-repeat: no-repeat;
}

.login-box-style {
  width: 480px;
  background: #fff;
  box-shadow: 0 24px 64px #26214a1a;
  border-radius: 12px;
  padding: 30px 60px;
  position: relative;
  margin: auto;
  /* top: 120px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.signup-box-style {
  width: 480px;
  background: #fff;
  box-shadow: 0 24px 64px #26214a1a;
  border-radius: 12px;
  padding: 30px 60px;
  position: relative;
  margin: auto;
  /* top: 100px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}
